.navbar navbar-expand-lg bg-light{
background-color: antiquewhite;
}
/* .container{
  position: absolute;
  display: flex;
  left:100px;
  flex-direction: row;
} */

/* .col{
  margin-left: 30px;
}

.col1{
  margin-right: 10px;
}

.col2{
  margin-right: 10px;
} */

.container{
  display: flex;
position: absolute;
top:80px;
left:50px;
}
.card{
  width: 400px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  height: 380px;
}

.welcome{
  position: absolute;
  left: 299px;
  top: 177px;
  color: white;
  font-size: 67px;
  /* background-color:black; */
}
.para{
  position: absolute;
  left: 579px;
  top: 257px;
  font-size: 27px;
}

.col li{
 color:cadetblue;
 font-size: 25px;
}

#white{
  color: red;
}
.card-img-top{
  height:200px;
}

.image{
  height: 685px;
    width:  1519px;
}

.quotes{
  position: absolute;
  top: 280px;
  left: 442px;
  font-size: 20px;
  color: antiquewhite;
}

.quotes1{
  position: absolute;
  top: 315px;
  left: 393px;
  font-size: 20px;
  color: antiquewhite;
}

  #button{
    position: absolute;
    top:1280px;
    right:30px;
  }